<div class="container">
    <br>
    <br>
    <hr>
    <footer>
        <p>Copyright &copy;  2020</p>
    </footer>
</div>
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/js/main.js"></script>
